body {
    background: lightgray;
    color: white;
}

header {
    background: lightseagreen;
    width: 100%;
    padding: 5px;
    top: 0;
    text-align: center;
}

#navigation {
    background: white;
    
    width: 100%;
    float: right;
    padding: 20px;
    text-align: center;
}

#AboutMe {
    color: lightseagreen;
}

h1 {
    color: white;
}

.container {
    width: 1024px;
    
}

.JoshuaKuruvilla {
    font-size: 48px;
    float: left;

}